@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin reset-mp {
    margin: 0;
    padding: 0;
}

$softShadow: 0px 3px 4px rgba(0, 0, 0, 0.12),0px 3px 1px rgba(0, 0, 0, 0.04);
$animationCurve: cubic-bezier(0.45, 0.1, 0.25, 1); 